* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */

  --clr-light: #fff;
  --clr-bg: #2ab3b1;
  --clr-bg-light: rgba(42, 179, 177, 0.75);
  --clr-accent: #c0df33;
  --clr-body: #9aa7be;

  --clr-drop-shadow: rgba(0, 0, 0, 0.09);

  /* Typography */

  --ff-main: "Karla", sans-serif;

  --fs-accent: 2rem; /* 32px */
  --fs-main-header: 1.5rem; /*24px*/
  --fs-secondary-header: 1.125rem; /* 18px */
  --fs-body: 1rem; /* 16px body/button */
  --fs-details: 0.875rem; /* 14px */

  --fw-std: 400;
  --fw-bold: 700;

  /* extras */

  --lh-lined-details: 20px;
  --lh-body: 26px;
}

/* utility */

body {
  font-family: var(--ff-main);
  margin: 0 auto;
  background-color: #e6eff5;
}

li {
  list-style: none;
  font-size: var(--fs-details);
}

a {
  text-decoration: none;
}

.card__header--large {
  font-size: var(--fs-main-header);
  color: var(--clr-bg);
  letter-spacing: -0.3px;
}

.card__header--small {
  font-size: var(--fs-secondary-header);
}

.card__para--lh {
  line-height: 26px;
  letter-spacing: -0.2px;
}

.card__header--white,
.card__para--white,
.card__list,
span {
  color: var(--clr-light);
}

.card__header--green {
  color: var(--clr-accent);
}

.card__header--ls {
  letter-spacing: -0.225px;
  font-weight: var(--fw-bold);
}

.card__header--padding {
  padding-bottom: 11px;
}

.card__para--grey {
  color: var(--clr-body);
}

.card__price--strong {
  font-weight: var(--fw-bold);
  font-size: var(--fs-accent);
}

.card__para {
  font-size: var(--fs-body);
}

.card__section {
  padding: 40px;
}

.btn--drop-shadow {
  box-shadow: 0 10px 10px 0 var(--clr-drop-shadow);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  gap: 11px;
}

/* Card */

.card {
  margin: 25% auto;
  border-radius: 8px;
  width: 635px;
  height: 475px;
  box-shadow: 0 30px 15px var(--clr-box-shadow);
}

.card__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

/* card top */

.card--top {
  justify-content: center;
  grid-column: span 2;
  background-color: white;
  border-radius: 8px 8px;
}

.card__header--wrapper {
  gap: 24px;
}

.card__subheader--wrapper {
  gap: 11px;
}

/* card left */

.card--left {
  background-color: var(--clr-bg);
  justify-content: center;
  border-bottom-left-radius: 8px;
}

.card__price-wrapper {
  gap: 11px;
  align-items: center;
}

.btn {
  display: block;
  text-align: center;
  margin: auto;
  padding: 15px;
  margin-top: 26px;
  font-size: var(--fs-body);
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

/* card right */
.card--right {
  background-color: var(--clr-bg-light);
  border-bottom-right-radius: 8px;
}

.card__u-list {
  gap: 3px;
}

.card_list {
  line-height: 22px;
  letter-spacing: -0.175px;
}

@media screen and (max-width: 28.125em) {
  .card {
    width: 19.4375rem;
  }

  .card__section {
    padding: 28px;
  }

  .card__grid {
    grid-template-columns: none;
    grid-template-rows: none;
    display: flex;
    flex-direction: column;
  }
}
